// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

// status bar icon
.status-bar-moov-console img{
  width: 16px;
  height: 16px;
}

// console moovweb img
img.console-panel{
  height: 16px;
}

h3{
  font-family: inherit;
}

// action buttons
.btn.mv-consoleBtn{
  padding-left: 44px;
  padding-right: 44px;
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  transition: all .3s ease-in-out;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  padding: 0.3em 1em !important;
}

// remove config item btn
.btn.btn-remove{
  background: red;
  color: white;
  border-radius: 20px;

  &:focus{
    outline: none;
  }
}
